/* src/styles/Header.css */
.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 2.5vw;
    pointer-events: none;
    z-index: 1000;
  }
  
  .head a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  